@* Generator: MvcHelper *@
@* Namespace: FLEX.Web.MVC.Controls.PageElements *@

@using System.Web.Mvc
@using Finsa.Caravan
@using Finsa.Caravan.Common
@using Finsa.Caravan.Mvc.Controls.PageElements
@using Finsa.Caravan.Mvc.Layouts
@using FLEX.Common

@helper FlexMenuBar(this HtmlHelper htmlHelper, AjaxHelper ajaxHelper)
{
   <style>
      @@media (min-width: 768px) {
         .navbar-nav .caret { display: none; }

         .navbar-nav .open ul { display: none; }

         .navbar-default .navbar-nav > .open > a,
         .navbar-default .navbar-nav > .open > a:hover,
         .navbar-default .navbar-nav > .open > a:focus,
         .navbar-default .navbar-nav > .active > a,
         .navbar-default .navbar-nav > .active > a:hover,
         .navbar-default .navbar-nav > .active > a:focus { background: none; }

         .navbar-inverse .navbar-nav > .open > a,
         .navbar-inverse .navbar-nav > .open > a:hover,
         .navbar-inverse .navbar-nav > .open > a:focus,
         .navbar-inverse .navbar-nav > .active > a,
         .navbar-inverse .navbar-nav > .active > a:hover,
         .navbar-inverse .navbar-nav > .active > a:focus { background: none; }

         .navbar-default .navbar-nav > .hovernav:hover > a,
         .navbar-default .navbar-nav > .hovernav:hover > a:hover,
         .navbar-default .navbar-nav > .hovernav:hover > a:focus { background: transparent; }

         .navbar-inverse .navbar-nav > .hovernav:hover > a,
         .navbar-inverse .navbar-nav > .hovernav:hover > a:hover,
         .navbar-inverse .navbar-nav > .hovernav:hover > a:focus { background: transparent; }

         .navbar-nav .hovernav:hover > .dropdown-menu { display: block; }
      }


      .dropdown-submenu { position: relative; }

      .dropdown-submenu > .dropdown-menu {
         -moz-border-radius: 0 6px 6px 6px;
         -webkit-border-radius: 0 6px 6px 6px;
         border-radius: 0 6px 6px 6px;
         left: 100%;
         margin-left: -1px;
         margin-top: -6px;
         top: 0;
      }

      .dropdown-submenu:hover > .dropdown-menu { display: block; }

      .dropdown-submenu > a:after {
         border-color: transparent;
         border-left-color: #cccccc;
         border-style: solid;
         border-width: 5px 0 5px 5px;
         content: " ";
         display: block;
         float: right;
         height: 0;
         margin-right: -10px;
         margin-top: 5px;
         width: 0;
      }

      .dropdown-submenu:hover > a:after { border-left-color: #ffffff; }

      .dropdown-submenu .pull-left { float: none; }

      .dropdown-submenu.pull-left > .dropdown-menu {
         -moz-border-radius: 6px 0 6px 6px;
         -webkit-border-radius: 6px 0 6px 6px;
         border-radius: 6px 0 6px 6px;
         left: -100%;
         margin-left: 10px;
      }
   </style>

   <script type="text/javascript">
      // TODO Aggiungere direttamente agli LI!!!
      $(document).ready(function() {
         $('#menuBar ul.navbar-nav li').addClass('hovernav');
      });


   </script>

   <nav>
      <div id="menuBar" class="navbar navbar-default navbar-fixed-top">
         <div class="container-fluid">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menuBar-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="#" onclick=" WebSettings.UserControls_MenuBar_BrandClick ">
                  <img src='@(CaravanCoreLayout.MyFlexPath)/Images/logo-menubar.png' class='logo' alt='Logo' />&nbsp;@Configuration.Instance.ApplicationName
               </a>
            </div>
            <div id="menuBar-collapse" class="navbar-collapse collapse">
               <ul class="nav navbar-nav" id="ul_menu" runat="server">
                  @(new HtmlString(FlexMenuBarHelper.GetMenuFromService(ajaxHelper)))


                
               </ul>
               <ul class="nav navbar-nav navbar-right">
                  <li>
                     <a href="#" onclick=" WebSettings.UserControls_MenuBar_HomeClick ">
                        <span class="glyphicon glyphicon-home padded-icon"></span>Home
                     </a>
                  </li>
                  <li>
                     <a href="#" onclick=" WebSettings.UserControls_MenuBar_LogoutClick ">
                        <span class="glyphicon glyphicon-circle-arrow-left padded-icon"></span>Logout
                     </a>
                  </li>
                  <li>
                     <a href="#" onclick=" WebSettings.UserControls_MenuBar_InfoClick ">
                        <span class="glyphicon glyphicon-info-sign padded-icon"></span>Info
                     </a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </nav>
}