@* Generator: MvcView *@
@* Namespace: FLEX.Web.MVC.Layouts *@

@using FLEX.Web.MVC.Layouts

<!DOCTYPE html>

<html>
   <head>
   
      <script type="text/javascript" src="@(Common.FlexPath)/Scripts/popupHandler.min.js@(Common.NoCacheTag)"></script>
   </head>
   
   <body>
      COMMON
      @RenderBody()
   </body>

</html>