@* Generator: MvcHelper *@
@* ClassSuffix: _ *@
@* Namespace: FLEX.Web.MVC.Controls.ValueHolders *@

@using System.Web.Mvc
@using FLEX.Web.MVC.Controls.ValueHolders

@helper AutoSuggest(this HtmlHelper htmlHelper, AutoCompleteOptions options) {

    <span></span>

}