@* Generator: MvcHelper *@
@* Namespace: FLEX.Web.MVC.Controls.ValueHolders *@

@using System.Web.Mvc
@using FLEX.Web.MVC.Controls.ValueHolders

@helper Create(this HtmlHelper htmlHelper, DatePickerOptions options) {

    <span></span>

}