@using Finsa.Caravan.Mvc.Controls.PageElements
@using Finsa.Caravan.Mvc.Controls.ValueHolders
@model dynamic

@{
   ViewBag.Title = "title";
   Layout = "~/Layouts/Pages/FlexVerticalSearchLayout_.cshtml";
}

@section SearchCriteriaSection {

   @Html.FlexVerticalSearchCriteria(new List<CaravanVerticalSearchCriteriumOptions>
   {
      new CaravanVerticalSearchCriteriumOptions
      {
         Label = "Prova", Control = () => Html.RadioButton("PROVA", 4, true)
      },
      new CaravanVerticalSearchCriteriumOptions
      {
         Label = "Prova", Control = () => Html.RadioButton("PROVA", 4, true)
      },
      new CaravanVerticalSearchCriteriumOptions
      {
         Label = "Switch", Control = () => Html.BootstrapSwitch(new BootstrapSwitchOptions {ID="onoff", State = true})
      }
   })
}

@section DataGridSection {

<h2>title</h2>
}
