@using FLEX.Web.MVC.Controls.ValueHolders

@model Sample.WebUI.MVC.Models.Student

@{
   Layout = "~/Layouts/Pages/Page.cshtml";
}


<div>
   HOME
   @Html.AutoComplete(new AutoCompleteOptions
   {
      Delay = 500
   })
</div>