@using FLEX.Web.MVC.Controls.ValueHolders

@model dynamic

@{
   Layout = null;
}

<!DOCTYPE html>

<html>
   <head>
      <title>title</title>
   </head>
   <body>
      <div>
         @AutoComplete.Create("prova")
      </div>
   </body>
</html>