@using FLEX.Web.MVC.Controls.ValueHolders

@model Sample.WebUI.MVC.Models.Student

@{
   Layout = "~/Layouts/Pages/FlexPageLayout_.cshtml";
}

@section HeadSection {
   <title>Home</title>
}

@section BodySection {
   <div class="text-center">
      <a href="http://www.finsa.it">
         <img id="flex-logo" src="MyFLEX.MVC/Images/logo-menubar.png" alt="FLEX Logo" style="width: 10%; max-width: 100%" />
      </a>
   </div>
}
