@using FLEX.Web.MVC.Controls.ValueHolders

@model Sample.WebUI.MVC.Models.Student

@{
   Layout = "~/Layouts/Pages/FlexPageLayout_.cshtml";
}

@section HeadSection {
   <title>Home</title>
}

@section BodySection {
   
   
}
