@model Sample.WebUI.Mvc.Models.Student

@{
   Layout = "~/Caravan.Mvc/Views/Shared/Pages/PageLayout.cshtml";
}

@section HeadSection {
   <title>Home</title>
}

@section BodySection {
   <div class="text-center">
      <a href="http://www.finsa.it">
         <img id="flex-logo" src="Caravan.Mvc/My/Images/logo-menubar.png" alt="FLEX Logo" style="width: 10%; max-width: 100%" />
      </a>
   </div>
}
