@using FLEX.Web.MVC.Controls.ValueHolders

@model dynamic

@{
   Layout = "~/Layouts/Pages/Page.cshtml";
}


<div>
   HOME
   @AutoComplete.Create(new AutoCompleteOptions
   {
      Delay = 500
   })
</div>