@using FLEX.Web.MVC.Controls.DataVisualization
@using FLEX.Web.MVC.Controls.PageElements
@using FLEX.Web.MVC.Controls.ValueHolders
@using PagedList

@model dynamic

@{
   ViewBag.Title = "title";
   Layout = "~/Layouts/Pages/FlexVerticalSearchLayout_.cshtml";
}

@section HeadSection {
   <title>Search</title>
}

@section SearchCriteriaSection {

   @Html.FlexVerticalSearchCriteria(new List<FlexVerticalSearchCriteriumOptions>
   {
      new FlexVerticalSearchCriteriumOptions
      {
         Label = "Prova", Control = () => Html.RadioButton("PROVA", 4, true)
      },
      new FlexVerticalSearchCriteriumOptions
      {
         Label = "Prova", Control = () => Html.RadioButton("PROVA", 4, true)
      },
      new FlexVerticalSearchCriteriumOptions
      {
         Label = "Switch", Control = () => Html.BootstrapSwitch(new BootstrapSwitchOptions {ID="onoff", State = true})
      }
   })
}

@section DataGridSection {
   
   @Html.FlexDataGrid(new FlexDataGridOptions
   {
      PagedItems = (new List<Tuple<int, int>> {Tuple.Create(1, 2), Tuple.Create(2, 3)}).ToPagedList(1, 1),
      Columns = new List<FlexDataGridColumnOptions>
      {
         new FlexDataGridColumnOptions {Header = "PROVA1"},
         new FlexDataGridColumnOptions {Header = "PROVA2"},
         new FlexDataGridColumnOptions {Header = "PROVA3"}
      }
   })   

}
