@model dynamic

@{
   ViewBag.Title = "title";
   Layout = "~/Layouts/Pages/FlexVerticalSearchLayout_.cshtml";
}

@section HeadSection {
   <title>Search</title>
}

@section SearchCriteriaSection {

<h2>title</h2>
}

@section DataGridSection {

<h2>title</h2>
}
