<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="caravan.dataAccess" requirePermission="false" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="caravan.common" requirePermission="false" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <caravan.dataAccess>
    <add key="ConnectionString" value="Data Source=RINA11;User Id=ascesi;password=ascesi;" />
    <add key="DataSourceKind" value="Oracle" />
    <add key="SqlSchema" value="ASCESI" />
    <add key="SqlInitializer" value="CreateDatabaseIfNotExists" />
    <add key="OracleStatementCacheSize" value="10" />
    <add key="RestTestAuthObject" value="_TEST_TOKEN_" />
    <add key="MongoDbName" value="" />
  </caravan.dataAccess>
  <caravan.common>
    <add key="AppName" value="caravan.sample.webforms" />
    <add key="AppDescription" value="Caravan.Sample.WebForms" />
    <add key="Logging_CaravanVariablesContext_Interval" value="00:30:00" />
  </caravan.common>
</configuration>