<?xml version="1.0" encoding="utf-8"?>

<configuration>
   <configSections>
      <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

      <!-- FLEX Configuration Headers (START) -->
      <section name="FlexCommonConfiguration" type="FLEX.Common.Configuration, FLEX.Common" />
      <section name="FlexDataConfiguration" type="FLEX.DataAccess.Configuration, FLEX.DataAccess" />
      <section name="FlexWebConfiguration" type="FLEX.WebForms.Configuration, FLEX.WebForms" />
      <!-- FLEX Configuration Headers (END) -->

      <!-- Armando Configuration Header (START) -->
      <section name="ArmandoConfiguration" type="PommaLabs.Armando.Configuration, PommaLabs.Armando" />
      <!-- Armando Configuration Header (END) -->
     
      <!-- KVLite Configuration Header (START) -->
      <section name="KVLiteConfiguration" type="PommaLabs.KVLite.Configuration, PommaLabs.KVLite" />
      <!-- KVLite Configuration Header (END) -->

      <!-- Glimpse Configuration Section (START) -->
      <section name="glimpse" type="Glimpse.Core.Configuration.Section, Glimpse.Core" />
      <!-- Glimpse Configuration Section (END) -->

      <!-- WebMarkupMin Configuration Section (START) -->
      <sectionGroup name="webMarkupMin">             
         <section name="core" type="WebMarkupMin.Core.Configuration.CoreConfiguration, WebMarkupMin.Core" />
      </sectionGroup>
      <!-- WebMarkupMin Configuration Section (END) -->
   </configSections>
   
   <appSettings>
      <!-- Start FLEX Settings -->
      <add key="AjaxLookup_DefaultResultCount" value="10" />
      <add key="AjaxLookup_QueryFilterToken" value="{:QueryFilter:}" />
      <add key="AjaxLookup_ResultCountToken" value="{:ResultCount:}" />
      <add key="AjaxLookup_TokenEnd" value=":}" />
      <add key="AjaxLookup_TokenStart" value="{:" />
      <add key="AjaxLookup_UserQueryToken" value="{:UserQuery:}" />
      <add key="AjaxLookup_XmlPath" value="~/App_Data/XmlSettings/AjaxLookups" />
      <add key="Lookup_XmlPath" value="~/App_Data/XmlSettings/Lookups" />
      <add key="MenuBar_XmlPath" value="~/App_Data/XmlSettings/MenuBar.xml" />
      <add key="Templates_ImagesPath" value="~/FLEX/Images" />
      <add key="FLEX.Web.CacheManager.DefaultMinutes" value="60" />
      <add key="FLEX.Web.UserControls.Ajax.ErrorHandler.ExceptionSessionKey" value="C895F535-DA46-478c-ACD3-9E21B69A76D6" />
      <add key="FLEX.Web.UserControls.MenuBar.BrandClick" value="window.location.href = 'http://www.finsa.it';" />
      <add key="FLEX.Web.UserControls.MenuBar.HomeClick" value="FLEX_RunFromMenu('Home.aspx');" />
      <add key="FLEX.Web.UserControls.MenuBar.InfoClick" value="return true;" />
      <add key="FLEX.Web.UserControls.MenuBar.LogoutClick" value="return true;" />
      <add key="Glimpse:DisableAsyncSupport" value="true" />
      <!-- End FLEX Settings -->
   </appSettings>
   
   <!-- FLEX Configuration Sections (START) -->
   <FlexCommonConfiguration ApplicationName="FLEX.Sample" BufferPoolCountForBufferedIO="16" BufferSizeInBytesForBufferedIO="512" />
   <FlexDataConfiguration OracleRunner="SPECIFY_WHEN_NEEDED" LoggerTypeInfo="FLEX.DataAccess.Oracle.OracleLogger, FLEX.DataAccess" QueryExecutorTypeInfo="FLEX.DataAccess.SqlServerCe.SqlServerCeQueryExecutor, FLEX.DataAccess" />
   <FlexWebConfiguration CheckSecurity="false" ControlExtendersFolder="~/MyFLEX/ControlExtenders" DynamicReportsFolder="~/App_Data/XmlSettings/DynamicReports" ErrorManagerTypeInfo="FLEX.Sample.WebUI.MyFLEX.Managers.ErrorManager, FLEX.Sample.WebUI" PageManagerTypeInfo="FLEX.Sample.WebUI.MyFLEX.Managers.PageManager, FLEX.Sample.WebUI" SecurityManagerTypeInfo="FLEX.Sample.WebUI.MyFLEX.Managers.SecurityManager, FLEX.Sample.WebUI" SessionExpiredPageUrl="Expired.aspx" />
   <!-- FLEX Configuration Sections (END) -->

   <!-- Armando Configuration Section (START) -->
   <ArmandoConfiguration CompiledScriptsPath="~/App_Data/CompiledScripts" EnableScriptsDebug="true" ScriptsPath="~/App_Data/DataScripts" />
   <!-- Armando Configuration Section (END) -->

   <!-- KVLite Configuration Section (START) -->
   <KVLiteConfiguration DefaultCachePath="~/App_Data/PersistentCache/PersistentCache.sqlite" MaxCacheSizeInMB="1024" MaxLogSizeInMB="20" OperationCountBeforeSoftCleanup="50" />
   <!-- KVLite Configuration Section (END) -->

   <!-- Start Paths for FLEX -->
   <location path="FLEX/Fonts">
      <system.web>
         <authorization>
            <allow users="*" />
         </authorization>
      </system.web>
   </location>
   <location path="FLEX/Images">
      <system.web>
         <authorization>
            <allow users="*" />
         </authorization>
      </system.web>
   </location>
   <location path="FLEX/Scripts">
      <system.web>
         <authorization>
            <allow users="*" />
         </authorization>
      </system.web>
   </location>
   <location path="FLEX/Styles">
      <system.web>
         <authorization>
            <allow users="*" />
         </authorization>
      </system.web>
   </location>
   <!-- End Paths for FLEX -->

   <connectionStrings>
      <add name="Northwind" connectionString="Data Source={0}; Persist Security Info=False;" providerName="System.Data.SqlServerCe.4.0" />
      <add name="QueryProvider" connectionString="Server=FIGE28sql2008;Database=TEST;User Id=DBOTest;Password=DBOTest;" providerName="System.Data.SqlClient" />
      <add name="DataContext" connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FIGE28SQL2008;initial catalog=TEST;persist security info=True;user id=DBOTest;password=DBOTest;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
   </connectionStrings>

   <system.web>
      <compilation defaultLanguage="cs" debug="true" targetFramework="4.0" />

      <customErrors mode="RemoteOnly" />

      <authentication mode="Forms">
         <!-- TIMEOUT Deve essere 1 minuto meno del timeout di sessione -->
         <forms timeout="19" />
      </authentication>
      
      <pages clientIDMode="AutoID" validateRequest="false" />

      <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="it-IT" />

      <!-- Abilito l'upload di file grandi al massimo 10 MB -->
      <!-- La clausola serve "requestValidationMode" per disabilitare la validazione del tutto -->
      <httpRuntime maxRequestLength="10240" requestValidationMode="2.0" />

      <!-- TIMEOUT Deve essere 1 minuto piu' del timeout di Autenticazione -->
      <sessionState mode="InProc" cookieless="false" timeout="20" />
      
      <!-- Glimpse: This can be commented in to add additional data to the Trace tab when using WebForms
        <trace writeToDiagnosticsTrace="true" enabled="true" pageOutput="false"/> -->
      <httpModules>
         <add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" />
      </httpModules>
      
      <httpHandlers>
         <add path="glimpse.axd" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet" />
         <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
      </httpHandlers>
   </system.web>

   <entityFramework>
      <providers>
         <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      </providers>
      <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
   </entityFramework>

   <glimpse defaultRuntimePolicy="On" endpointBaseUri="~/Glimpse.axd">
      <!-- 
          For more information on how to configure Glimpse, please visit http://getglimpse.com/Help/Configuration
          or access {your site}/Glimpse.axd for even more details and a Configuration Tool to support you. 
      -->
   </glimpse>
   
   <system.webServer>
      <validation validateIntegratedModeConfiguration="false" />
      
      <modules>
         <add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" preCondition="integratedMode" />
      </modules>
      
      <handlers>
         <add name="Glimpse" path="glimpse.axd" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet" preCondition="integratedMode" />
         <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </handlers>
      
      <!-- Required for HTML5 and CSS3 multimedia content (START) -->
      <staticContent>
         <remove fileExtension=".mp4" />
         <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
         <remove fileExtension=".m4v" />
         <mimeMap fileExtension=".m4v" mimeType="video/m4v" />
         <remove fileExtension=".ogg" />
         <mimeMap fileExtension=".ogg" mimeType="video/ogg" />
         <remove fileExtension=".ogv" />
         <mimeMap fileExtension=".ogv" mimeType="video/ogg" />
         <remove fileExtension=".webm" />
         <mimeMap fileExtension=".webm" mimeType="video/webm" />

         <remove fileExtension=".oga" />
         <mimeMap fileExtension=".oga" mimeType="audio/ogg" />
         <remove fileExtension=".spx" />
         <mimeMap fileExtension=".spx" mimeType="audio/ogg" />

         <remove fileExtension=".svg" />
         <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
         <remove fileExtension=".svgz" />
         <mimeMap fileExtension=".svgz" mimeType="image/svg+xml" />

         <remove fileExtension=".eot" />
         <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
         <remove fileExtension=".otf" />
         <mimeMap fileExtension=".otf" mimeType="font/otf" />
         <remove fileExtension=".woff" />
         <mimeMap fileExtension=".woff" mimeType="font/x-woff" />
      </staticContent>
      <!-- Required for HTML5 and CSS3 multimedia content (END) -->

     <!-- IIS Content Compression (START) -->
     <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
       <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
       <dynamicTypes>
         <add mimeType="text/*" enabled="true" />
         <add mimeType="message/*" enabled="true" />
         <add mimeType="application/x-javascript" enabled="true" />
         <add mimeType="*/*" enabled="false" />
       </dynamicTypes>
       <staticTypes>
         <add mimeType="text/*" enabled="true" />
         <add mimeType="message/*" enabled="true" />
         <add mimeType="application/x-javascript" enabled="true" />
         <add mimeType="*/*" enabled="false" />
       </staticTypes>
     </httpCompression>
     <urlCompression doStaticCompression="true" doDynamicCompression="true" />
     <!-- IIS Content Compression (START) -->
   </system.webServer>

   <!-- WebMarkupMin Configuration Section (START) -->
   <webMarkupMin xmlns="http://tempuri.org/WebMarkupMin.Configuration.xsd">
		<core>
         <html whitespaceMinificationMode="Medium" removeHtmlComments="true" removeHtmlCommentsFromScriptsAndStyles="true" removeCdataSectionsFromScriptsAndStyles="true" useShortDoctype="false" useMetaCharsetTag="true" emptyTagRenderMode="NoSlash" removeOptionalEndTags="true" removeTagsWithoutContent="false" collapseBooleanAttributes="true" removeEmptyAttributes="true" attributeQuotesRemovalMode="Html5" removeRedundantAttributes="true" removeJsTypeAttributes="true" removeCssTypeAttributes="true" removeHttpProtocolFromAttributes="false" removeHttpsProtocolFromAttributes="false" removeJsProtocolFromAttributes="true" minifyEmbeddedCssCode="true" minifyInlineCssCode="true" minifyEmbeddedJsCode="false" minifyInlineJsCode="true" />
			<css>
				<minifiers>
					<add name="NullCssMinifier" displayName="Null CSS Minifier" type="WebMarkupMin.Core.Minifiers.NullCssMinifier, WebMarkupMin.Core" />
					<add name="KristensenCssMinifier" displayName="Mads Kristensen's CSS minifier" type="WebMarkupMin.Core.Minifiers.KristensenCssMinifier, WebMarkupMin.Core" />
				</minifiers>
			</css>
			<js>
				<minifiers>
					<add name="NullJsMinifier" displayName="Null JS Minifier" type="WebMarkupMin.Core.Minifiers.NullJsMinifier, WebMarkupMin.Core" />
					<add name="CrockfordJsMinifier" displayName="Douglas Crockford's JS Minifier" type="WebMarkupMin.Core.Minifiers.CrockfordJsMinifier, WebMarkupMin.Core" />
				</minifiers>
			</js>
			<logging>
				<loggers>
				  <add name="NullLogger" displayName="Null Logger" type="WebMarkupMin.Core.Loggers.NullLogger, WebMarkupMin.Core" />
				  <add name="ThrowExceptionLogger" displayName="Throw exception logger" type="WebMarkupMin.Core.Loggers.ThrowExceptionLogger, WebMarkupMin.Core" />
				</loggers>
			</logging>
		</core>
	</webMarkupMin>
   <!-- WebMarkupMin Configuration Section (END) -->

  <system.data>        
        <DbProviderFactories>
            <remove invariant="System.Data.SqlServerCe.4.0" />
            <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
        </DbProviderFactories>
    </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.86.0" newVersion="1.0.86.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CSScriptLibrary" publicKeyToken="70fcc3d18c749033" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.8.6.0" newVersion="3.8.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>