@* Generator: MvcHelper *@
@* Namespace: FLEX.Web.MVC.Controls.ValueHolders *@

@using System.Web.Mvc
@using System.Web.Mvc.Html
@using FLEX.Web.MVC.Controls.ValueHolders

@helper FlexCheckBoxList(this HtmlHelper htmlHelper, BootstrapSwitchOptions options) {

   <fieldset>
      <legend></legend>
      <input type="radio" id="radio_1" name="radio_1" value="Radio One" /><label for="radio_1">One</label>
      <input type="radio" id="radio_1" name="radio_1" value="Radio One" /><label for="radio_1">One</label>
      <input type="radio" id="radio_1" name="radio_1" value="Radio One" /><label for="radio_1">One</label>
   </fieldset>
   
}