@* Generator: MvcHelper *@
@* Namespace: Finsa.Caravan.Mvc.Controls.ValueHolders *@

@using System.Web.Mvc
@using Finsa.Caravan.Mvc.Controls.ValueHolders

@helper JQueryAutoComplete(this HtmlHelper htmlHelper, JQueryAutoCompleteOptions options) {

    <span></span>

}