@* Generator: MvcHelper *@
@* Namespace: Finsa.Caravan.Mvc.Controls.ValueHolders *@

@using System.Web.Mvc
@using Finsa.Caravan.Mvc.Controls.ValueHolders

@helper JQueryDatePicker(this HtmlHelper htmlHelper, JQueryDatePickerOptions options) {

    <span></span>

}