@* Generator: MvcHelper *@
@* Namespace: FLEX.Web.MVC.Controls.DataVisualization *@

@using System.Web.Mvc;
@using FLEX.Web.MVC.Controls.DataVisualization
@using PagedList.Mvc

@helper FlexDataGrid(this System.Web.Mvc.HtmlHelper htmlHelper, FlexDataGridOptions options) {

   <table id="@options.ID" class="table table-striped table-bordered table-condensed table-hover">
      <thead>
         @foreach (var column in options.Columns)
         {
            <th>@column.Header</th>
         }
      </thead>
      
      <tbody>
         
      </tbody>
   </table>
   
   <div class="row">
      <div class="col-xs-4 text-left">
         Count
      </div>
      <div class="col-xs-4 text-center">
         ???
      </div>
      <div class="col-xs-4 text-right">
         <!-- Outputs a paging control that lets the user navigation to the previous page, next page, etc -->
         @htmlHelper.PagedListPager(@options.PagedItems, page => "")
      </div>
   </div>
}