<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >

    <extensions>
        <add assembly="Finsa.Caravan.Common" />
    </extensions>

    <targets>
        <target name="caravan" xsi:type="AsyncWrapper"
                queueLimit="10000"
                batchSize="100"
                timeToSleepBetweenBatches="50"
                overflowAction="Block">
            <target xsi:type="CaravanLog" />
        </target>

        <target name="caravan-emergency" xsi:type="File"
                layout="${message}"
                fileName="${basedir}/App_Data/Logs/caravan-emergency.log"
                archiveFileName="${basedir}/App_Data/Logs/caravan-emergency.{#}.zip"
                header="### CARAVAN EMERGENCY LOG ###${newline}"
                keepFileOpen="false"
                autoFlush="true"
                createDirs="true"
                encoding="utf-8"
                archiveAboveSize="131072"
                archiveNumbering="DateAndSequence"
                archiveOldFileOnStartup="false"
                maxArchiveFiles="9"
                enableArchiveFileCompression="true"
                archiveDateFormat="yyyyMMdd"
                concurrentWrites="true"
                concurrentWriteAttempts="10"
                concurrentWriteAttemptDelay="3" />
    </targets>

    <rules>
        <logger name="CaravanEmergencyLog" writeTo="caravan-emergency"
                minlevel="Error" maxlevel="Error"
                final="true" />

        <logger name="*" writeTo="caravan"
                minlevel="Trace" maxlevel="Fatal"
                final="false" />
    </rules>
</nlog>