<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <!-- Caravan Configuration Headers (START) -->
            <section name="Finsa.Caravan.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Finsa.Caravan.DataAccess.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <!-- Caravan Configuration Headers (END) -->
        </sectionGroup>
    </configSections>

    <entityFramework>
        <providers>
            <!-- FakeSQL -->
            <provider invariantName="Effort.Provider" type="Effort.Provider.EffortProviderServices, Effort" />
        </providers>
    </entityFramework>

    <applicationSettings>
        <!-- Caravan Configuration Sections (START) -->
        <Finsa.Caravan.Common.Properties.Settings>
            <setting name="ApplicationName" serializeAs="String">
                <value>unittests.dataaccess</value>
            </setting>
            <setting name="ApplicationDescription" serializeAs="String">
                <value>Unit tests for Data Access</value>
            </setting>
            <setting name="CacheType" serializeAs="String">
                <value>PommaLabs.KVLite.PersistentCache, PommaLabs.KVLite</value>
            </setting>
        </Finsa.Caravan.Common.Properties.Settings>

        <Finsa.Caravan.DataAccess.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>MEMORY</value>
            </setting>
            <setting name="DataAccessKind" serializeAs="String">
                <value>FakeSql</value>
            </setting>
            <setting name="SqlSchema" serializeAs="String">
                <value>MEMORY</value>
            </setting>
        </Finsa.Caravan.DataAccess.Properties.Settings>
        <!-- Caravan Configuration Sections (END) -->
    </applicationSettings>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

    <system.data>
        <DbProviderFactories>
            <!-- FakeSQL -->
            <remove invariant="Effort.Provider" />
            <add name="Effort.Provider" invariant="Effort.Provider" description="Effort.Provider" type="Effort.Provider.EffortProviderFactory, Effort" />
        </DbProviderFactories>
    </system.data>
    
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>