<?xml version="1.0" encoding="utf-8" ?>

<configuration>
    <configSections>
        <section name="caravan.common" requirePermission="false" type="System.Configuration.NameValueSectionHandler, System" />
        <section name="caravan.dataAccess" requirePermission="false" type="System.Configuration.NameValueSectionHandler, System" />
    </configSections>
    
    <caravan.common>
        <add key="AppName" value="unittests.dataaccess" />
        <add key="AppDescription" value="Unit tests for Data Access" />
    </caravan.common>
    
    <caravan.dataAccess>
        <add key="ConnectionString" value="MEMORY" />
        <add key="DataSourceKind" value="FakeSql" />
        <add key="SqlSchema" value="MEMORY" />
    </caravan.dataAccess>
</configuration>
