<?xml version="1.0" encoding="utf-8"?>

<configuration>
   <configSections>
      <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
         <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      </sectionGroup>
      
      <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
      <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

      <!-- Oracle Configuration Section (START) -->
      <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess" />
      <!-- Oracle Configuration Section (START) -->
      
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
         <!-- Caravan Configuration Headers (START) -->
         <section name="Finsa.Caravan.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
         <section name="Finsa.Caravan.DataAccess.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
         <section name="Finsa.Caravan.RestService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
         <!-- Caravan Configuration Headers (END) -->
         
         <!-- KVLite Configuration Header (START) -->
         <section name="PommaLabs.KVLite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
         <!-- KVLite Configuration Header (END) -->
      </sectionGroup>
   <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup></configSections>

   

   <!-- Oracle Configuration Sections (START) -->
   <oracle.manageddataaccess.client>
      <version number="*">
         <settings>
            <setting name="TNS_ADMIN" value="C:\oracle\11g_32\network\admin" />
         </settings>
      </version>
   </oracle.manageddataaccess.client>
   <!-- Oracle Configuration Sections (END) -->

   <system.data>
      <DbProviderFactories>
         <remove invariant="Oracle.ManagedDataAccess.Client" />
         <add name="Oracle Data Provider for .NET" invariant="Oracle.ManagedDataAccess.Client" description=".Net Framework Data Provider for Oracle" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess" />
         <remove invariant="System.Data.SqlServerCe.4.0" />
         <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </DbProviderFactories>
   </system.data>

   <entityFramework>
      <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
      <providers>
         <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
         <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework" />
      </providers>
   </entityFramework>

   <system.web>
      <compilation debug="true" targetFramework="4.5">
         
      <buildProviders>
        <add extension=".cshtml" type="Nancy.ViewEngines.Razor.BuildProviders.NancyCSharpRazorBuildProvider, Nancy.ViewEngines.Razor.BuildProviders" />
        <add extension=".vbhtml" type="Nancy.ViewEngines.Razor.BuildProviders.NancyVisualBasicRazorBuildProvider, Nancy.ViewEngines.Razor.BuildProviders" />
      </buildProviders></compilation>

      
   <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </httpHandlers></system.web>

   

   

   <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
         <dependentAssembly>
            <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
         </dependentAssembly>
      </assemblyBinding>
   </runtime>

   <applicationSettings>
      <Finsa.Caravan.RestService.Properties.Settings>
         <setting name="ShortCacheTimeoutInSeconds" serializeAs="String">
            <value>60</value>
         </setting>
         <setting name="MediumCacheTimeoutInSeconds" serializeAs="String">
            <value>180</value>
         </setting>
         <setting name="LongCacheTimeoutInSeconds" serializeAs="String">
            <value>600</value>
         </setting>
         <setting name="AllowUnitTesting" serializeAs="String">
            <value>True</value>
         </setting>
         <setting name="LoggerIdentity" serializeAs="String">
            <value>service</value>
         </setting>
      </Finsa.Caravan.RestService.Properties.Settings>
      
      <!-- Caravan Configuration Sections (START) -->
      <Finsa.Caravan.Common.Properties.Settings>
         <setting name="ApplicationName" serializeAs="String">
            <value>caravan.restservice</value>
         </setting>
         <setting name="ApplicationDescription" serializeAs="String">
            <value>Caravan.RestService</value>
         </setting>
         <setting name="CacheType" serializeAs="String">
            <value>PommaLabs.KVLite.PersistentCache, PommaLabs.KVLite</value>
         </setting>
      </Finsa.Caravan.Common.Properties.Settings>
      
      <Finsa.Caravan.DataAccess.Properties.Settings>
         <setting name="ConnectionString" serializeAs="String">
            <value>Data Source=RINA11;User Id=ascesi;password=ascesi;</value>
         </setting>
         <setting name="DataAccessKind" serializeAs="String">
            <value>Oracle</value>
         </setting>
         <setting name="OracleUser" serializeAs="String">
            <value>ASCESI</value>
         </setting>
      </Finsa.Caravan.DataAccess.Properties.Settings>
      <!-- Caravan Configuration Sections (END) -->
      
      <!-- KVLite Configuration Section (START) -->
      <PommaLabs.KVLite.Properties.Settings>
         <setting name="PersistentCache_DefaultCacheFile" serializeAs="String">
            <value>~/App_Data/PersistentCache/PersistentCache.sqlite</value>
         </setting>
         <setting name="AllCaches_DefaultStaticIntervalInDays" serializeAs="String">
            <value>30</value>
         </setting>
         <setting name="PersistentCache_DefaultMaxCacheSizeInMB" serializeAs="String">
            <value>256</value>
         </setting>
         <setting name="PersistentCache_DefaultMaxJournalSizeInMB" serializeAs="String">
            <value>32</value>
         </setting>
         <setting name="PersistentCache_DefaultInsertionCountBeforeAutoClean" serializeAs="String">
            <value>100</value>
         </setting>
          <setting name="VolatileCache_DefaultMaxCacheSizeInMB" serializeAs="String">
              <value>128</value>
          </setting>
          <setting name="VolatileCache_DefaultMaxJournalSizeInMB" serializeAs="String">
              <value>32</value>
          </setting>
          <setting name="VolatileCache_DefaultInsertionCountBeforeAutoClean" serializeAs="String">
              <value>100</value>
          </setting>
      </PommaLabs.KVLite.Properties.Settings>
      <!-- KVLite Configuration Section (END) -->
   </applicationSettings>
<system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <httpErrors existingResponse="PassThrough" />
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </handlers>
  </system.webServer><appSettings>
    <add key="webPages:Enabled" value="false" />
  </appSettings><system.web.webPages.razor>
    <pages pageBaseType="Nancy.ViewEngines.Razor.NancyRazorViewBase">
      <namespaces>
        <add namespace="Nancy.ViewEngines.Razor" />
      </namespaces>
    </pages>
  </system.web.webPages.razor></configuration>