<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <configSections>
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
         <section name="Finsa.Caravan.WebForms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      </sectionGroup>
   </configSections>

   <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
   </startup>
   
   <applicationSettings>
      <Finsa.Caravan.WebForms.Properties.Settings>
         <setting name="AjaxLookupsXmlPath" serializeAs="String">
            <value></value>
         </setting>
         <setting name="ControlsExtendersFolder" serializeAs="String">
            <value></value>
         </setting>
         <setting name="DynamicReportsFolder" serializeAs="String">
            <value></value>
         </setting>
         <setting name="EnableOutputCompression" serializeAs="String">
            <value>False</value>
         </setting>
         <setting name="EnableOutputMinification" serializeAs="String">
            <value>True</value>
         </setting>
         <setting name="EnableSecurity" serializeAs="String">
            <value>True</value>
         </setting>
         <setting name="ErrorManagerTypeInfo" serializeAs="String">
            <value />
         </setting>
         <setting name="LookupsXmlPath" serializeAs="String">
            <value></value>
         </setting>
         <setting name="MenuBarBrandClick" serializeAs="String">
            <value></value>
         </setting>
         <setting name="MenuBarHomeClick" serializeAs="String">
            <value></value>
         </setting>
         <setting name="MenuBarInfoClick" serializeAs="String">
            <value></value>
         </setting>
         <setting name="MenuBarLogoutClick" serializeAs="String">
            <value></value>
         </setting>
         <setting name="MenuBarXmlPath" serializeAs="String">
            <value></value>
         </setting>
         <setting name="PageManagerTypeInfo" serializeAs="String">
            <value></value>
         </setting>
         <setting name="SecurityManagerTypeInfo" serializeAs="String">
            <value></value>
         </setting>
         <setting name="SessionExpiredPageUrl" serializeAs="String">
            <value>Expired.aspx</value>
         </setting>
      </Finsa.Caravan.WebForms.Properties.Settings>
   </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31BF3856AD364E35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.7.0" newVersion="6.9.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Finsa.CodeServices.Common" publicKeyToken="db894830fb4e4dbb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.7.0" newVersion="3.0.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Finsa.CodeServices.Serialization" publicKeyToken="db894830fb4e4dbb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.7.0" newVersion="3.0.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Finsa.CodeServices.Compression" publicKeyToken="db894830fb4e4dbb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.7.0" newVersion="3.0.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Finsa.CodeServices.Clock" publicKeyToken="db894830fb4e4dbb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.6.0" newVersion="3.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PommaLabs.Thrower" publicKeyToken="2f204b7110a52060" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.3.0" newVersion="2.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
