<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="ClosedXML" version="0.75.0" targetFramework="net40" />
  <package id="CodeProject.ObjectPool" version="1.0.6" targetFramework="net40" />
  <package id="CS-Script" version="3.8.8.0" targetFramework="net40" />
  <package id="Dapper" version="1.38" targetFramework="net40" />
  <package id="DocumentFormat.OpenXml" version="2.5" targetFramework="net40" />
  <package id="iTextSharp-LGPL" version="4.1.6" targetFramework="net40" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="net40" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="6.0.6" targetFramework="net40" />
  <package id="PommaLabs.Armando" version="0.3.1" targetFramework="net40" />
  <package id="PommaLabs.GRAMPA" version="1.2.0" targetFramework="net40" />
  <package id="PommaLabs.KVLite" version="0.5.3" targetFramework="net40" />
  <package id="PommaLabs.XsdClassGen" version="0.7.0" targetFramework="net40" />
  <package id="System.Data.SQLite.Core.MSIL" version="1.0.94.0" targetFramework="net40" />
  <package id="WebMarkupMin.Core" version="0.8.21" targetFramework="net40" />
</packages>