<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="net35" />
  <package id="SmartFormat.NET" version="1.1.0.0" targetFramework="net35" />
  <package id="SmartThreadPool.dll" version="2.2.3" targetFramework="net35" />
  <package id="TaskParallelLibrary" version="1.0.2856.0" targetFramework="net35" />
  <package id="Thrower" version="0.11" targetFramework="net35" />
</packages>