<?xml version="1.0" encoding="utf-8"?>

<configuration>
   <configSections>
      <!-- Caravan Configuration Headers (START) -->
      <section name="Finsa.Caravan.Common" type="Finsa.Caravan.Common.Configuration, Finsa.Caravan.Common" />
      <section name="Finsa.Caravan.DataAccess" type="Finsa.Caravan.DataAccess.Configuration, Finsa.Caravan.DataAccess" />
      <!-- Caravan Configuration Headers (END) -->
      
      <!-- KVLite Configuration Header (START) -->
      <section name="pommaLabs.kvlite" type="PommaLabs.KVLite.Configuration, PommaLabs.KVLite" />
      <!-- KVLite Configuration Header (END) -->

      <!-- Oracle Configuration Section (START) -->
      <section name="oracle.manageddataaccess.client"
               type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess" />
      <!-- Oracle Configuration Section (START) -->
   </configSections>

   <!-- Caravan Configuration Sections (START) -->
   <Finsa.Caravan.Common ApplicationName="caravan.sample.mvc" ApplicationDescription="Caravan.Sample.MVC"
                         BufferPoolCountForBufferedIO="16" BufferSizeInBytesForBufferedIO="512" />
   <Finsa.Caravan.DataAccess OracleUser="USERBASE"
                             ConnectionString="Data Source=RINA11;User Id=userbase;password=userbase;"
                             DataAccessKind="Oracle" />
   <!-- Caravan Configuration Sections (END) -->

   <!-- KVLite Configuration Section (START) -->
   <pommaLabs.kvlite DefaultCachePath="~/App_Data/PersistentCache/PersistentCache.sqlite" MaxCacheSizeInMB="1024"
                     MaxLogSizeInMB="20" OperationCountBeforeSoftCleanup="50" NancyCacheKind="Persistent" />
   <!-- KVLite Configuration Section (END) -->

   <!-- Oracle Configuration Sections (START) -->
   <oracle.manageddataaccess.client>
      <version number="*">
         <settings>
            <setting name="TNS_ADMIN" value="C:\oracle\11g_32\network\admin" />
         </settings>
      </version>
   </oracle.manageddataaccess.client>
   <!-- Oracle Configuration Sections (END) -->

   <system.data>
      <DbProviderFactories>
         <remove invariant="Oracle.ManagedDataAccess.Client" />
         <add name="Oracle Data Provider for .NET" invariant="Oracle.ManagedDataAccess.Client"
              description=".Net Framework Data Provider for Oracle"
              type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess" />
      </DbProviderFactories>
   </system.data>

   <entityFramework>
      <providers>
         <provider invariantName="Oracle.ManagedDataAccess.Client"
                   type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework" />
         <provider invariantName="System.Data.SqlClient"
                   type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      </providers>
   </entityFramework>

   <appSettings>
      <add key="webpages:Version" value="3.0.0.0" />
      <add key="webpages:Enabled" value="false" />
      <add key="PreserveLoginUrl" value="true" />
      <add key="ClientValidationEnabled" value="true" />
      <add key="UnobtrusiveJavaScriptEnabled" value="true" />
   </appSettings>

   <system.web>
      <httpRuntime targetFramework="4.5" />
      <compilation debug="true" targetFramework="4.5.1" />
      <pages>
         <namespaces>
            <add namespace="System.Web.Helpers" />
            <add namespace="System.Web.Mvc" />
            <add namespace="System.Web.Mvc.Ajax" />
            <add namespace="System.Web.Mvc.Html" />
            <add namespace="System.Web.Routing" />
            <add namespace="System.Web.WebPages" />
         </namespaces>
      </pages>
   </system.web>

   <system.webServer>
      <validation validateIntegratedModeConfiguration="false" />

      <handlers>
         <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
         <remove name="OPTIONSVerbHandler" />
         <remove name="TRACEVerbHandler" />
         <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*"
              type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      </handlers>

      <!-- Required for HTML5 and CSS3 multimedia content (START) -->
      <staticContent>
         <remove fileExtension=".mp4" />
         <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
         <remove fileExtension=".m4v" />
         <mimeMap fileExtension=".m4v" mimeType="video/m4v" />
         <remove fileExtension=".ogg" />
         <mimeMap fileExtension=".ogg" mimeType="video/ogg" />
         <remove fileExtension=".ogv" />
         <mimeMap fileExtension=".ogv" mimeType="video/ogg" />
         <remove fileExtension=".webm" />
         <mimeMap fileExtension=".webm" mimeType="video/webm" />
         <remove fileExtension=".oga" />
         <mimeMap fileExtension=".oga" mimeType="audio/ogg" />
         <remove fileExtension=".spx" />
         <mimeMap fileExtension=".spx" mimeType="audio/ogg" />
         <remove fileExtension=".svg" />
         <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
         <remove fileExtension=".svgz" />
         <mimeMap fileExtension=".svgz" mimeType="image/svg+xml" />
         <remove fileExtension=".eot" />
         <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
         <remove fileExtension=".otf" />
         <mimeMap fileExtension=".otf" mimeType="font/otf" />
         <remove fileExtension=".woff" />
         <mimeMap fileExtension=".woff" mimeType="font/x-woff" />
      </staticContent>
      <!-- Required for HTML5 and CSS3 multimedia content (END) -->
   </system.webServer>

   <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
         <dependentAssembly>
            <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
            <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
            <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
            <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-1.0.93.0" newVersion="1.0.93.0" />
         </dependentAssembly>
      </assemblyBinding>
   </runtime>
</configuration>