@brand-font-size: 20px;
@brand-logo-size: 24px;

@image-margin: 5px;

nav {
   .navbar-default {
      .navbar-brand {
         font-size: @brand-font-size;

         .logo {
            margin-right: @image-margin;
            width: @brand-logo-size;
            height: @brand-logo-size;
         }
      }
   }
}