<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="caravan.common" requirePermission="false" type="System.Configuration.NameValueSectionHandler, System" />
        <section name="caravan.dataAccess" requirePermission="false" type="System.Configuration.NameValueSectionHandler, System" />
    </configSections>
    <caravan.common>
        <add key="AppName" value="caravan.worker" />
        <add key="AppDescription" value="Caravan.Worker" />
        <add key="Logging_CaravanVariablesContext_Interval" value="00:30:00" />
    </caravan.common>
    <caravan.dataAccess>
        <add key="ConnectionString" value="Data Source=ORASCONTRINO;User Id=CARAVAN;Password=caravan;" />
        <add key="DataSourceKind" value="Oracle" />
        <add key="SqlSchema" value="CARAVAN" />
        <add key="SqlInitializer" value="CreateDatabaseIfNotExists" />
        <add key="OracleStatementCacheSize" value="10" />
        <add key="RestTestAuthObject" value="_TEST_TOKEN_" />
        <add key="MongoDbName" value="" />
    </caravan.dataAccess>
</configuration>
