<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="caravan.common" requirePermission="false" type="System.Configuration.NameValueSectionHandler, System" />
    <section name="caravan.dataAccess" requirePermission="false" type="System.Configuration.NameValueSectionHandler, System" />
  </configSections>
  <caravan.common>
    <add key="AppName" value="caravan.webservice" />
    <add key="AppDescription" value="Caravan.WebService" />
    <add key="Logging_CaravanVariablesContext_Interval" value="00:30:00" />
  </caravan.common>
  <caravan.dataAccess>
    <add key="ConnectionString" value="data source=localhost;initial catalog=CARAVAN_TEST;persist security info=True;user id=crvntest;password=crvntest;" />
    <add key="DataSourceKind" value="SqlServer" />
    <add key="SqlSchema" value="dbo" />
    <add key="SqlInitializer" value="CreateDatabaseIfNotExists" />
    <add key="OracleStatementCacheSize" value="10" />
    <add key="RestTestAuthObject" value="_TEST_TOKEN_" />
    <add key="MongoDbName" value="" />
  </caravan.dataAccess>
</configuration>