<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="caravan.common" requirePermission="false" type="System.Configuration.NameValueSectionHandler, System" />
    <section name="caravan.dataAccess" requirePermission="false" type="System.Configuration.NameValueSectionHandler, System" />
  </configSections>
  <caravan.common>
    <add key="AppName" value="caravan.webservice" />
    <add key="AppDescription" value="Caravan.WebService" />
    <add key="Logging_CaravanVariablesContext_Interval" value="00:30:00" />
    <add key="Logging_EmergencyLog_ArchiveAboveSizeInKB" value="1024" />
    <add key="Logging_EmergencyLog_FileName" value="${basedir}/App_Data/logs/caravan-emergency.log" />
    <add key="Logging_EmergencyLog_MaxArchiveFiles" value="9" />
    <add key="Logging_EmergencyLog_RootPath" value="D:\Progetti\FINSA\Caravan\Caravan.WebService\App_Data\Logs" />
  </caravan.common>
  <caravan.dataAccess>
    <add key="ConnectionString" value="Data Source=.\SQLEXPRESS;Initial Catalog=caravan;User ID=caravan;Password=caravan" />
    <add key="DataSourceKind" value="SqlServer" />
    <add key="SqlSchema" value="dbo" />
    <add key="SqlInitializer" value="CreateDatabaseIfNotExists" />
    <add key="OracleStatementCacheSize" value="10" />
    <add key="RestTestAuthObject" value="_TEST_TOKEN_" />
    <add key="MongoDbName" value="" />
    <add key="Logging_SettingsCache_Interval" value="00:30:00" />
  </caravan.dataAccess>
</configuration>