<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="caravan.common" requirePermission="false" type="System.Configuration.NameValueSectionHandler, System" />
    <section name="caravan.dataaccess" requirePermission="false" type="System.Configuration.NameValueSectionHandler, System" />
  </configSections>
    <caravan.common>
    <add key="AppName" value="caravan.webservice" />
    <add key="AppDescription" value="Caravan.WebService" />
  </caravan.common>
    <caravan.dataaccess>
    <add key="DefaultCacheName" value="VolatileCache" />
  </caravan.dataaccess>
</configuration>
