<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true">
    
  <extensions>
    <add assembly="Finsa.Caravan.DataAccess" />
  </extensions>
    
  <targets>
      <target name="caravan" xsi:type="CaravanLog" />
      <target name="caravan-emergency" xsi:type="File"
              layout="${longdate} ${logger} ${message}"
              fileName="${basedir}/App_Data/Logs/caravan-emergency.log"
              keepFileOpen="false"
              encoding="utf-8" />
  </targets>
    
  <rules>
      <logger name="CaravanEmergencyLog" minlevel="Trace" writeTo="caravan-emergency" final="true" />
      <logger name="*" minlevel="Trace" writeTo="caravan" />
  </rules>
</nlog>