<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

        <!-- Oracle Configuration Section (START) -->
        <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess" />
        <!-- Oracle Configuration Section (START) -->

        <sectionGroup name="common">
            <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
        </sectionGroup>

        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <!-- Caravan Configuration Headers (START) -->
            <section name="Finsa.Caravan.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Finsa.Caravan.DataAccess.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <!-- Caravan Configuration Headers (END) -->

            <!-- KVLite Configuration Header (START) -->
            <section name="PommaLabs.KVLite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <!-- KVLite Configuration Header (END) -->
        </sectionGroup>
    </configSections>

    <appSettings>
        <add key="webpages:Version" value="3.0.0.0" />
        <add key="webpages:Enabled" value="false" />
        <add key="ClientValidationEnabled" value="true" />
        <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    </appSettings>

    <applicationSettings>
        <!-- Caravan Configuration Sections (START) -->
        <Finsa.Caravan.Common.Properties.Settings>
            <setting name="ApplicationName" serializeAs="String">
                <value>caravan.webservice</value>
            </setting>
            <setting name="ApplicationDescription" serializeAs="String">
                <value>Caravan.WebService</value>
            </setting>
            <setting name="CacheType" serializeAs="String">
                <value>PommaLabs.KVLite.PersistentCache, PommaLabs.KVLite</value>
            </setting>
        </Finsa.Caravan.Common.Properties.Settings>

        <Finsa.Caravan.DataAccess.Properties.Settings>
            <!-- MYSQL -->
            <!--<setting name="ConnectionString" serializeAs="String">
                <value>Server=fige28unicredit;Database=test;Uid=scontrino;Pwd=scontrino;</value>
            </setting>
            <setting name="DataAccessKind" serializeAs="String">
                <value>MySql</value>
            </setting>
            <setting name="SqlSchema" serializeAs="String">
                <value>test</value>
            </setting>
            <setting name="SqlInitializer" serializeAs="String">
                <value>CreateDatabaseIfNotExists</value>
            </setting>-->
            
            <!-- ORACLE -->
            <!--<setting name="ConnectionString" serializeAs="String">
                <value>Data Source=RINA11;User Id=ascesi;password=ascesi;</value>
            </setting>
            <setting name="DataAccessKind" serializeAs="String">
                <value>Oracle</value>
            </setting>
            <setting name="SqlSchema" serializeAs="String">
                <value>ASCESI</value>
            </setting>
            <setting name="SqlInitializer" serializeAs="String">
                <value>CreateDatabaseIfNotExists</value>
            </setting>-->

            <!-- POSTGRESQL -->
            <setting name="ConnectionString" serializeAs="String">
                <value>Server=127.0.0.1;Port=5432;Database=caravan;User Id=postgres;Password=postgres;</value>
            </setting>
            <setting name="DataAccessKind" serializeAs="String">
                <value>PostgreSql</value>
            </setting>
            <setting name="SqlSchema" serializeAs="String">
                <value>caravan</value>
            </setting>
            <setting name="SqlInitializer" serializeAs="String">
                <value>CreateDatabaseIfNotExists</value>
            </setting>
            
            <!-- SQL SERVER -->
            <!--<setting name="ConnectionString" serializeAs="String">
                <value>Server=fige28sql2008;Database=TEST;User Id=DBOTest;Password=DBOTest;</value>
            </setting>
            <setting name="DataAccessKind" serializeAs="String">
                <value>SqlServer</value>
            </setting>
            <setting name="SqlSchema" serializeAs="String">
                <value>dbo</value>
            </setting>
            <setting name="SqlInitializer" serializeAs="String">
                <value>CreateDatabaseIfNotExists</value>
            </setting>-->
        </Finsa.Caravan.DataAccess.Properties.Settings>
        <!-- Caravan Configuration Sections (END) -->

        <!-- KVLite Configuration Section (START) -->
        <PommaLabs.KVLite.Properties.Settings>
            <setting name="PersistentCache_DefaultCacheFile" serializeAs="String">
                <value>~/App_Data/PersistentCache/PersistentCache.sqlite</value>
            </setting>
            <setting name="AllCaches_DefaultStaticIntervalInDays" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="PersistentCache_DefaultMaxCacheSizeInMB" serializeAs="String">
                <value>256</value>
            </setting>
            <setting name="PersistentCache_DefaultMaxJournalSizeInMB" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="PersistentCache_DefaultInsertionCountBeforeAutoClean" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="VolatileCache_DefaultMaxCacheSizeInMB" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="VolatileCache_DefaultMaxJournalSizeInMB" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="VolatileCache_DefaultInsertionCountBeforeAutoClean" serializeAs="String">
                <value>100</value>
            </setting>
        </PommaLabs.KVLite.Properties.Settings>
        <!-- KVLite Configuration Section (END) -->
    </applicationSettings>

    <!-- Oracle Configuration Sections (START) -->
    <oracle.manageddataaccess.client>
        <version number="*">
            <settings>
                <setting name="TNS_ADMIN" value="C:\oracle\11g_32\network\admin" />
            </settings>
        </version>
    </oracle.manageddataaccess.client>
    <!-- Oracle Configuration Sections (END) -->

    <system.data>
        <DbProviderFactories>
            <!-- Oracle -->
            <remove invariant="Oracle.ManagedDataAccess.Client" />
            <add name="Oracle Data Provider for .NET" invariant="Oracle.ManagedDataAccess.Client" description=".NET Framework Data Provider for Oracle" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess" />
            <!-- SQL Server -->
            <remove invariant="System.Data.SqlClient" />
            <add name="Microsoft SQL Server" invariant="System.Data.SqlClient.SqlClientFactory" description=".NET Framework Data Provider for Microsoft SQL Server " type="System.Data.SqlClient.SqlClientFactory, System.Data" />
            <!-- MySQL -->
            <remove invariant="MySql.Data.MySqlClient" />
            <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".NET Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
            <!-- PostgreSQL -->
            <remove invariant="Npgsql" />
            <add name="Npgsql Data Provider" invariant="Npgsql" description=".NET Framework Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql" />
        </DbProviderFactories>
    </system.data>

    <entityFramework>
        <!-- SQL Server (comment others to use this) -->
        <!--<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />-->
        
        <!-- PostgreSQL (comment others to use this) -->
        <defaultConnectionFactory type="Npgsql.NpgsqlConnectionFactory, Npgsql.EntityFramework" />
        
        <providers>
            <!-- SQL Server -->
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
            <!-- Oracle -->
            <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework" />
            <!-- MySQL -->
            <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6" />
            <!-- PostgreSQL -->
            <provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, Npgsql.EntityFramework" />
        </providers>
    </entityFramework>

    <system.web>
        <compilation debug="true" targetFramework="4.5" />
        <httpRuntime targetFramework="4.5" />
    </system.web>

    <common>
        <logging>
            <factoryAdapter type="Common.Logging.Simple.TraceLoggerFactoryAdapter, Common.Logging">
                <arg key="level" value="ALL" />
                <arg key="showLogName" value="true" />
                <arg key="showDataTime" value="true" />
                <arg key="dateTimeFormat" value="yyyy/MM/dd HH:mm:ss:fff" />
                <arg key="useTraceSource" value="true" />
            </factoryAdapter>
        </logging>
    </common>

    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    
    <system.webServer>
        <handlers>
            <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
            <remove name="OPTIONSVerbHandler" />
            <remove name="TRACEVerbHandler" />
            <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
        </handlers>
    </system.webServer>
</configuration>