@* Generator: MvcHelper *@
@* Namespace: Finsa.Caravan.Mvc.Controls *@

@using System.Web.Mvc

@helper Dummy(this HtmlHelper htmlHelper) {

    <span>COPY AND PASTE ME TO START NEW CONTROLS</span>

}