<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="Antlr" version="3.5.0.2" targetFramework="net40" />
  <package id="CodeProject.ObjectPool" version="1.0.8" targetFramework="net40" />
  <package id="Dapper" version="1.38" targetFramework="net40" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net40" />
  <package id="EntityFramework.SqlServerCompact" version="4.3.6" targetFramework="net40" />
  <package id="LinqToQuerystring" version="0.7.0.8" targetFramework="net40" />
  <package id="LinqToQuerystring.EntityFramework" version="1.2" targetFramework="net40" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="net40" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net40" />
  <package id="Microsoft.SqlServer.Compact" version="4.0.8876.1" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="6.0.7" targetFramework="net40" />
  <package id="odp.net.managed" version="121.1.2" targetFramework="net40" />
  <package id="PommaLabs.GRAMPA" version="1.4.0" targetFramework="net40" />
  <package id="PommaLabs.KVLite" version="0.7.1-alpha" targetFramework="net40" />
  <package id="RestSharp" version="105.0.1" targetFramework="net40" />
  <package id="SqlServerCompact" version="4.0.8854.1" targetFramework="net40" />
  <package id="System.Data.SQLite.Core.MSIL" version="1.0.94.0" targetFramework="net40" />
</packages>